body {
  font-family: 'Noto Serif JP', serif;
  background: #f8f8f8;
}

.section-inner {
  max-width: 600px;
  margin: 32px auto;
  background: #fff;
  border-radius: 8px;
  padding: 2em;
  box-shadow: 0 3px 12px rgba(0,0,0,0.08);
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.2em;
}

.contact {
  width: 100%;
  border-collapse: collapse;
}

.contact-line, .contact-content {
  height: 50px;
}

.contact-sign {
  width: 90px;
  font-weight: bold;
  padding-right: 12px;
  vertical-align: top;
  text-align: left;
}

.contact-input {
  width: 99%;
  min-width: 260px;
}

.contact-input input,
.contact-input textarea {
  width: 95%;
  padding: 8px;
  border: 1px solid #beb9b7;
  border-radius: 5px;
}

.contact-input textarea {
  min-height: 100px;
  resize: vertical;
}

.contact-btn-area {
  display: flex;
  justify-content: center;
  margin: 25px 0 0 0;
  padding: 0 5px;
}

.contact-btn {
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
}

.submit-btn {
  background: #9852a5;
  color: #fff;
}

.reset-btn {
  background: #e6e6e6;
  color: #000;
}

#error, #email-error {
  margin-top: 3px;
}

.input-error {
  background: rgba(230,169,171,.5);
}

.error-message {
  color: #d14539;
  font-size: 13px;
  margin-top: 3px;
}
